/* Add your own styles */
body{
    font-family: "Times New Roman", Times, serif;
}
h1{
    font-size: 36px;
    color: blue;
}

.head{
    text-align: center;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);  
}